main {
    display: flex;
    flex-direction: column;

    height: 60vh;
    margin-left: 180px;

    margin-top: 100px;
}

main h2 {
    display: flex;

    margin-top: 40px;
    padding-bottom: 20px;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    color: #fff;
    border-bottom: 1px solid #6A6363;

    padding: 20px;
}

.cards {
    margin-top: 12px;
}

.content-card {
    display: flex;
    flex-direction: column;

    width: 200px;
    height: 436px;


    color: #fff;
    gap: 8px;
}

.content-card img {
    width: 260px;
    height: 260px;

    cursor: pointer;

}

.content-card img:hover {
    opacity: 0.7;
}

.content-card h3 {
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content-card span {
    width: 260px;

    color: #CCC3C3;
    text-align: justify;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}