body {
    background: linear-gradient(180deg, #0c0505 0%, #3a3535 47.92%, #5e5858 100%);

}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

}

.main {
    display: flex;
    flex-direction: row;
}